<div *ngIf="games">
    <ul>
        <li *ngFor="let game of games">
            <h1 [class.myStyle]="isShown">{{game.title}}</h1>
            <br>
            <h4>with id: {{game.id}}</h4>
            <br>
            <img src={{game.image}}>
        </li>
    </ul>
    <button (click)="showContacts()">show contacts</button>
    <div *ngIf="isShown">
        <h1>contacts.....</h1>
    </div>
    <div>
        <input #name placeholder="name">
        <button (click)="showName(name.value)">enter</button>
    </div>
</div>